<div class="modal" style="display: block;" ng-show="data.show"> <!--  -->
    <div class="modal-dialog w250" >
        <div class="modal-content">
            <div class="modal-header modal-header-gray">
                <button type="button" class="close closeBtn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" ng-click="close()">×</span></button>
                <h4 class="modal-title">确认操作</h4>
            </div>
            <div class="modal-body clearfix text-center">
                {{data.msg}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" data-dismiss="modal" ng-click="confirm()">确定</button>
                <button type="button" class="btn btn-default" ng-click="close()">取消</button>
              </div>
        </div>
    </div>
</div>